/* General Configurations */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-image: url(./Images/NYCDowntownBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1, p, a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:white;
  }

.centerText {
    text-align: center;
}

/* Specific Configurations */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0;
    height: 10%;
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
}

.headerTitle {
    font-size: 20px;
    margin:0; /* resets the default h1 margin */
    padding: 10px; 
    align-self: center; 
    margin-left: 2%;
}

a {
    font-size: 14px;
    margin: 0 2%;
}

@media (min-width: 750px) {
    .headerTitle {
        font-size: 30px;
        padding: 10px; 
        margin-left: 3%;
    }
    a {
        font-size: 18px;
        margin: 0 3%;
    }
}

@media (min-width: 900px) {
    .headerTitle {
        font-size: 35px;
        padding: 10px; 
        margin-left: 3%;
    }
    a {
        font-size: 20px;
        margin: 0 5%;
    }
}